body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

button {
    font: inherit;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


#display-container, #buttons-container {
    width: 450px;
    padding: 10px 20px;
}

#display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: 3px solid black;
    box-shadow: 5px 5px black;
    min-height: 100px;
}

.display {
    text-align: right;
    font-weight: bold;
    gap: 10px 0;
}

#display-previous {
    font-size: larger;
    min-height: 30px;
    line-height: 1.4;
}

#display-current {
    font-size: xx-large;
    min-height: 40px;
    line-height: 1.4;
}

#buttons-container {
    --gap: 10px;
    --tile: calc((100% - 3 * var(--gap)) / 4);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: flex-start;
    align-items: flex-start;
}

button:hover {
    outline: 2px solid black;
    outline-offset: -1px;
}

#buttons-container button {
    margin: 0;
    flex: 0 0 var(--tile);
    height: 56px;
    box-sizing: border-box;
    border: 3px solid black;
    box-shadow: 3px 3px black;
    font-weight: bold;
    font-size: large;
}

#buttons-container > button.double {
    flex: 0 0 calc(50% - (var(--gap) / 2));
}

.inverted {
    background-color: black;
    color: white;
}